Package: renaconf
Version: 1.0.0
Architecture: i386
Maintainer: thomastai <thomastai@renaelectronics.com>
Installed-Size: 660
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
