Package: renaconf
Version: 1.0.0
Architecture: i386
Maintainer: thomastai <thomastai@renaelectronics.com>
Installed-Size: 718
Section: unknown
Priority: extra
Homepage: www.renaelectronics.com
Description: Utility for Rena Electronics PCIe Stepper Driver
 Utility for setting up motor current and generate linuxcnc
 configuration file.
