Source: renaconf
Section: unknown
Priority: extra
Maintainer: thomastai <thomastai@renaelectronics.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: www.renaelectronics.com 
#Vcs-Git: git://git.debian.org/collab-maint/renaconf.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/renaconf.git;a=summary

Package: renaconf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility for Rena Electronics PCIe Stepper Driver
 Utility for setting up motor current and generate linuxcnc
 configuration file.
